{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
<title>Criar ponto de coleta</title>
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="/styles/create-point.css">
<link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

{% block content %}
{%include "partials/page-header.html" %}

<form action="save-point" method="POST">
    <h1>Cadastro do Ponto de coleta</h1>
    <fieldset>
        <legend>
            <h2>Dados de entidade</h2>
        </legend>
        <div class="field-group">
            <div class="field">
                <label for="name">Nome da entidade</label>
                <input type="text" name="name" required="required">
            </div>
            <div class="field">
                <label for="name">Imagem da entidade</label>
                <input type="url" name="name" required="required" placeholder="http://">
            </div>
        </div>



        <div class="field-group">
            <div class="field">
                <label for="address">Endereço</label>
                <input type="text" name="address">
            </div>
            <div class="field">
                <label for="address2">Número/Complemento</label>
                <input type="text" name="address2">
            </div>
        </div>
        <div class="field-group">
            <div class="field">
                <label for="state">Estado</label>
                <select name="uf" required="required">
                    <option value="">Selecione um Estado</option>
                </select>
                <input type="hidden" name="state" required="required">
            </div>
            <div class="field">
                <label for="city">Cidade</label>
                <select name="city" disabled="disabled" required="required">
                    <option value="">Selecione uma Cidade</option>
                </select>
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>
            <h2>Itens de coleta</h2>
            <spam>Selecione um ou mais itens a baixo</spam>
        </legend>


        <div class="items-grid">
            <li data-id="Lâmpadas">
                <img src="/assets/lampadas.svg" alt="lâmpadas">
                <spam>Lâmpadas</spam>
            </li>
            <li data-id="Pilhas e Baterias">
                <img src="/assets/baterias.svg" alt="Pilhas e baterias">
                <spam>Pilhas e Baterias</spam>
            </li>
            <li data-id="Papéis e Papelão">
                <img src="/assets/papeis-papelao.svg" alt="Papéis e Papelão">
                <spam>Papéis e Papelão</spam>
            </li>
            <li data-id="Resíduos Eletônicos">
                <img src="/assets/eletronicos.svg" alt="Resíduos Eletônicos">
                <spam>Resíduos Eletônicos</spam>
            </li>
            <li data-id="Resíduos Orgânicos">
                <img src="/assets/organicos.svg" alt="Resíduos Orgânicos">
                <spam>Resíduos Orgânicos</spam>
            </li>
            <li data-id="Óleo de cozinha">
                <img src="/assets/oleo.svg" alt="Óleo de cozinha">
                <spam>Óleo de cozinha</spam>
            </li>
        </div>

        <input type="hidden" name="items">

    </fieldset>
    <button type="submit">Cadastrar ponto de coleta</button>
</form>

{% endblock content %}

    {% block modal %}
        {% if saved %}
            {%include "partials/point-created.html" %}
        {% endif %}
    {% endblock modal %}

{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}